$height: calc(100vh - 400px);

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $height;
	width: 100%;

	i {
		font-size: 50px;
	}
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;

	.left {
		display: flex;
		align-items: center;
		border-radius: 20px;
		padding: 10px;
		background-color: var(--primary);
		width: 160px;

		select {
			background: var(--secondary);
			margin-right: 10px;
			border-radius: 20px;
			padding: 0;
			width: 30px;
		}
	}

	.middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
		max-width: 500px;
		margin: 0 100px;
		border-radius: 20px;
		padding: 0 20px;
		background-color: var(--primary);

		select {
			width: 100%;

			option:disabled {
				color: var(--secondary);
			}
		}

		hr {
			width: 1px;
			height: 20px;
			background-color: var(--secondary);
			margin: 0 10px;
		}
	}

	.right {
		width: 160px;
	}
}

.table-responsive {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: $height;
	background: var(--primary);
	padding: 20px;
	border-radius: 20px;

	.rows {
		overflow: auto;
	}

	.market-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-radius: 15px;

		&.header {
			background: var(--secondary);
			font-weight: 600;
		}

		&:not(.header):nth-child(odd) {
			background-color: var(--light-secondary);
		}

		.name {
			width: 300px;
			text-align: start;
		}

		.address {
			width: 100%;
			text-align: start;
		}

		.city {
			width: 150px;
			text-align: center;
		}

		.state {
			width: 150px;
			text-align: center;
		}

		.district {
			width: 150px;
			text-align: center;
		}

		.day {
			width: 75px;
			text-align: end;
		}

		.point {
			width: 70px;
			text-align: end;

			.uil-star.active {
				background-color: var(--selection);
			}
		}
	}

	.not-found {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		img {
			width: 400px;
			margin: 20px;
		}

		span {
			font-size: 20px;
			font-weight: 500;
		}
	}

	.table-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;

		::ng-deep .ngx-pagination {
			margin: 0;

			li {
				background-color: var(--pagination-background);
				border-radius: 5px;
				border: 1px solid var(--selection);
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
				}

				&:hover, a:hover {
					background-color: transparent;
				}

				&.pagination-previous, &.pagination-next {
					width: 22px;

					&.disabled {
						background-color: var(--secondary);
					}

					&::after, &::before, a::after, a::before {
						margin: 0;
					}
				}

				&.current {
					background-color: var(--selection);
					color: #fff;
				}

				a {
					color: var(--pagination-color);
				}
			}
		}
	}
}
